:root{
    --outer-space: #33393f;
    --blue: #13293d;
    --tan: #a5aa5a;
    --border-radius:79px;
   
}
body{
    font-size: 19px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    transform: rotateX(90);

}
h1{
    font-size: 3.5rem;
    margin-bottom:10px;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 10px;

}
header{
    padding: 40px;
    text-align:center;
    background: var(--orange);
    color: var(--yellow);
    justify-content: space-between;

}
nav {
    display:flex;
    background-color: var(--tan);

}
nav a {
    color: var(--orange);
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    
}
 .card-column{
    border-style: solid;
    border-width: 600%;
    border-radius: var(--border-radius);
    padding: 20px;
    flex: 0 0 600px;
    box-shadow: 50px 50px 30px #a5aa5a;
    margin: 100px;
}

.card-content{
    border-style: solid;
    border-width:3px;
    border-radius: var(--border-radius);
    padding:10px;
    flex:0 0 300px;
    box-shadow: 20px 20px 15px #33393f;
    margin: 30px;



}







